{% extends "layout.html" %}
{% block content %}
<div class= "content-section">
		 <form method= "POST" action= "" enctype= "multipart/form-data">
		 	{{ form.hidden_tag() }}
		 	<fieldset class= "form-group">
		 		<legend class= "border-bottom mb-4"> New Records </legend> 
		 		
		 		<!--medical records-->
                <div class= "form-group">
                    {{ form.medical_records.label() }}
                    {{ form.medical_records (class= "form-control-file") }}
                    {% if form.medical_records.errors %}
                        {% for error in form.medical_records.errors %}
                            <span class= "text-danger"> {{ error }} </span> </br>
                        {% endfor %}
                    {% endif %}
                </div>
		 		
		 		<!--physicians_name-->
		 		<div class= "form-group">
		 			{{ form.physicians_name.label(class= "form-control-label") }}
		 			{% if form.physicians_name.errors %}
		 				{{ form.physicians_name(class= "form-control form-control-lg is-invalid") }}
			 			<div class="invalid-feedback">
			 				{% for error in form.physicians_name.errors %}
			 					<span> {{ error }}</span>
			 				{% endfor %}
			 			</div>
			 		{% else %}
			 			{{ form.physicians_name(class= "form-control form-control-lg") }}
		 			{% endif %}
		 		</div>

		 		<!--comments-->
		 		<div class= "form-group">
		 			{{ form.comments.label(class= "form-control-label") }}
		 			{% if form.comments.errors %}
		 				{{ form.comments(class= "form-control form-control-lg is-invalid") }}
			 			<div class="invalid-feedback">
			 				{% for error in form.comments.errors %}
			 					<span> {{ error }}</span>
			 				{% endfor %}
			 			</div>
			 		{% else %}
			 			{{ form.comments(class= "form-control form-control-lg") }}
		 			{% endif %}
		 		</div>

		 	</fieldset>

		 	<!--submit button-->
		 	<div class= "form-group">
		 			{{ form.submit(class= "btn btn-outline-info") }}
		 	</div>

		</form>
	</div>
{% endblock content %}